{{- if .Values.ingress.enabled }}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: app-ingress
spec:
  ingressClassName: {{ .Values.ingress.className }}
  rules:
    - host: {{ .Values.ingress.host }}
      http:
        paths:
          - path: /movies
            pathType: Prefix
            backend:
              service:
                name: movie
                port:
                  number: 8000
          - path: /casts
            pathType: Prefix
            backend:
              service:
                name: cast
                port:
                  number: 8000
{{- end }}
